.underconstruction {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.section_1 {
    height: 100vh;
    padding: 1rem 3rem;
}

.section_1 h1{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.section_1-1 {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 0rem 3rem 0rem 1rem;
}

.section_1-1 h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.section_1-1 p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.subscribe_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: yellow;
    padding: 0.5rem 1rem;
    border-left: 4px solid black;
    margin-top: 2rem;
}

.subscribe_container-form {
    display: flex;
    align-items: center;
    width: 100%;
}

.subscribe_container-form h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.subscribe_container-form input {
    margin-left: 1rem;
    padding: 0rem 1rem;
    background: transparent;
    border: none;
    font-size: 17px;
}

.subscribe_container-form input:focus {
    border: none;
}

.subscribe_container-form input:active {
    border: none;
}

.submitSubscription_btn {
    background: transparent;
    border: none;
}

.submitSubscription_btn i {
    font-size: 20px;
    cursor: pointer;
}

.section_2 img {
    height: 100vh;
    width: 50rem;
    object-fit: cover;
}

@media screen and (max-width: 1080px) {
    
}

@media screen and (max-width: 650px) {
    .underconstruction {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .section_1 {
        height: 80vh;
        padding: 1rem 1rem;
    }

    .section_1-1 {
        padding: 0rem 0rem 0rem 0rem;
    }

    .subscribe_container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .subscribe_container-form {
        flex-direction: column;
        align-items: flex-start;
    }

    .subscribe_container-form input {
        margin-left: 0rem;
        padding: 1rem 0rem;
    }

    .submitSubscription_btn {
        margin: 1rem 0rem;
    }

    .section_2 img {
        height: 60vh;
        width: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 490px) {
    .section_1 {
        height: 100vh;
        padding: 1rem 1rem;
    }

}