.copyright {
    display: flex;
    justify-content: center;
    margin-top: 9rem;
    font-size: 0.8rem;
    text-align: center;
}

@media screen and (max-width: 1080px) {
    
}

@media screen and (max-width: 650px) {
    .copyright {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        font-size: 0.8rem;
        text-align: center;
    }
}

@media screen and (max-width: 490px) {}