@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@300;400;600&display=swap');
@import url('http://fonts.cdnfonts.com/css/gotham');

.App {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  font-family: 'Gotham', sans-serif;
}

/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif; */